form
{
	overflow: hidden;
	display: table;
}
input
{
	float: right;
	clear: both;
	display:table
}
select
{
	float: right;
}

table, th, td
{
	border: 1px solid black;
	border-collapse: collapse;
}

th, td
{
	padding: 5px;
	text-align: left;    
}